.footer__column-link {
  display: block;
  color: white;
  transition: opacity 0.2s linear;
  line-height: 18px;
  text-decoration: none;
}
.footer__column-link:hover {
  cursor: pointer;
  opacity: 0.5;
}
.footer__column-link:nth-of-type(n) {
  margin-bottom: 10px;
}