.feynman__title {
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  z-index: 2;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width: 1030px) {
  .feynman__title {
    font-size: 60px;
    max-width: 310px;
  }
}
@media screen and (max-width: 420px) {
  .feynman__title {
    font-size: 40px;
  }
}
