.khan__bye-link {
  line-height: 42px;
  font-size: 30px;
  text-decoration: none;
  color: #2f80ed;
  margin-left: 48px;
  transition: opacity 0.2s linear;
}
.khan__bye-link:hover {
  cursor: pointer;
  opacity: 0.5;
}
