.khan__bye-link {
  align-self: flex-start;
  line-height: 42px;
  font-size: 30px;
  text-decoration: none;
  color: #2f80ed;
  margin-left: 48px;
  transition: opacity 0.2s linear;
}
.khan__bye-link:hover {
  cursor: pointer;
  opacity: 0.5;
}
@media screen and (max-width: 620px) {
  .khan__bye-link {
    font-size: 20px;
    line-height: 30px;
    margin-left: 30px;
  }
}
