.table__cell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  margin-top: 60px;
}
@media screen and (max-width: 420px) {
  .table__cell {
    max-width: 150px;
    margin-top: 40px;
  }
}
