.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1070px) {
  .footer__column:nth-of-type(2n + 1) {
    margin-right: 10px;
  }
}
