.header__title {
  max-width: 738px;
  line-height: 96px;
  font-size: 102px;
  align-self: center;
  margin-left: 64px;
  z-index: 1;
  font-family: "Inter-SemiBold", "Helvetica Neue", Arial, sans-serif;
}
