.header__square-plc {
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 700px) {
  .header__square-plc {
    top: 80px;
  }
}
@media screen and (max-width: 560px) {
  .header__square-plc {
    top: 100px;
    right: -100px;
  }
}
